<h1>Listing events</h1>
<ul>
  <% @events.each do |event| %>
    <li>
      <span class="event_creator"><%= event.creator.name %></span>
      <span class="event_body"><%= event.body %></span>
      <a class="eventable" href="<%= event.eventable.url %>"><%= event.eventable.body%></a>
      <% if event.eventsource %>
          <a class="eventsource" href="<%= event.eventsource.url %>"><%= event.eventsource.body%></a>
        <% event.eventsource.eventContexts.each do |ec| %>
          <a class="eventcontext" href="<%=ec.url%>"><%= ec.name %></a>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>


